@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #222222;
}

main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.jumbotron {
  text-align: center;
}

footer.page-footer {
  background-color: #222222;
  margin-top: 2rem;
}

.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}